# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Model files
model/*.pt
model/*.pth

# Results, outputs
runs/detect/retrain_simple4/weights
runs/detect/retrain_small_data/weights
outputs/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
